/* css styles */

@media (max-width: 768px) {
  .columns {
    display: block !important;
  }
  
  .column {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}

h1 {
  background-color: #78c2ad;
  color: white;
  padding: 0.75rem 1.5rem;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1.5rem;
}

.affiliation {
  font-size: .9.2rem;
}

h3 {
  margin-bottom: 1.0rem;
}

h5 {
  background-color: #f0f0f0;
  padding: 0.2rem 0.6rem;
  margin-top: 0.5rem;
  margin-left: -0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  display: inline-block;
}

.indented {
  padding-left: 0.3rem;
}

.education p {
  padding-left: 3rem;
  text-indent: -3rem;
  margin-bottom: 0.1rem;
}

